{% load static %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app with channels and websocket</title>
    <link rel="stylesheet" href="{% static 'chatapp/css/chatapp.css' %}">
    <link rel="shortcut icon" href="{% static 'chatapp/images/favicon.ico' %}" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/178cd86837.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    
</head>
<body>
    <div class="page-wraper">
        <div class="chat-window"
             hx-ws="connect:ws://127.0.0.1:8000/ws/chat/"
        >
            <h6 class="window-name">HXChat-alpha</h6>
            <div class="message-box"
                 id="message-box">
               
            </div>
            <div class="input-wrapper">
                <form hx-ws="send" hx-ext='json-enc'>
                    <input class="chat-input" type="text" name="message" id="message" autocomplete="off">
                    <button type="submit" class="chat-button" hx-target="message"><i class="fa-solid fa-comment"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>