.page-wraper{
    width: 98.5vw;
    height: 98.5vh;
    background: linear-gradient(rgba(249, 102, 94, 0.5),20%,rgba(114,211,254, 0.5));
}

.window-name{
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    margin: 0 0 0 2.5%;
}

.chat-window{
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    width: 33.3%;
    height: 33.3%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.message-box{
    width: 95%;
    height: 80%;
    margin: 2% 2.5% 0 2.5%;
    border: solid 1px black;
    border-radius: 3px;
    overflow-y: scroll;
}

.chat-input{
    margin: 1% 0 2.5% 2.5%;
    width: 85%;
    height: 30px;
    border: solid 1px black;
    border-radius: 3px;
    font-size: large;
}

.chat-button{
    width: 8.5%;
    height: 33px;
    border: solid 1px black;
    border-radius: 3px;
    font-size: large;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.chat-button:hover{
    background-color: rgba(114,211,254,1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}
